<h2>List of Scientists</h2>

<ul>
  {{#each model.documents as |document|}}
    <li>{{document}}</li>
    {{get-structured-text document "project.title" model.linkResolver }}
    {{get-structured-text document "project.tagline" model.linkResolver }}
  {{/each}}
</ul>